<!DOCTYPE html>
<head>
	<title>绩效登记</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
	<link href="css/bootstrap-social.css" rel="stylesheet" type="text/css">	
	<link href="css/templatemo_style.css" rel="stylesheet" type="text/css">	
</head>
<body class="templatemo-bg-image-1">
	<div class="container">
		<div class="col-md-12">			
			<form class="form-horizontal templatemo-login-form-2" role="form" action="add" method="post">
				<div class="row">
					<div class="col-md-12">
						<h1>请填写：</h1>
					</div>
				</div>
				<div class="row">
					<div class="templatemo-one-signin col-md-6">
				        <div class="form-group">
				          <div class="col-md-12">		          	
				            <label for="name" class="control-label">姓名</label>
				            <div class="templatemo-input-icon-container">
				            	<i class="fa fa-user"></i>
				            	<input type="text" class="form-control" id="name" placeholder="">
				            </div>		            		            		            
				          </div>              
				        </div>
				        <div class="form-group">
				          <div class="col-md-12">
				            <label for="team" class="control-label">室别</label>
				            <div class="templatemo-form-list-container"{max-width:600px}>
				            	<i class="fa fa-group"></i>
				            	<input type="text" class="form-control" id="team" placeholder="">
				            </div>
				          </div>
				        </div>
						<div class="form-group">
				          <div class="col-md-12">
				            <label for="performance" class="control-label">项目</label>
				            <div class="templatemo-form-list-container"{max-width:600px}>
				            	<i class="fa fa-project"></i>
				            	<input type="text" class="form-control" id="performance" placeholder="">
				            </div>
				          </div>
				        </div>
						<div class="form-group">
				          <div class="col-md-12">
				            <label for="values" class="control-label">数值</label>
				            <div class="templatemo-input-icon-container">
				            	<i class="fa fa-number"></i>
				            	<input type="text" class="form-control" id="values" placeholder="">
				            </div>
				          </div>
				        </div>
						<div class="form-group">
				          <div class="col-md-12">
				            <label for="date" class="control-label">日期</label>
				            <div class="templatemo-form-list-container"{max-width:600px}>
				            	<i class="fa fa-calendar"></i>
				            	<input type="date" class="form-control" id="date" placeholder="">
				            </div>
				          </div>
				        </div>
						<div class="form-group">
				          <div class="col-md-12">
				            <label for="comment" class="control-label">备注</label>
				            <div class="templatemo-input-icon-container">
				            	<i class="fa fa-comment"></i>
				            	<input type="text" class="form-control" id="comment" placeholder="">
				            </div>
				          </div>
				        </div>
				        <div class="form-group">
				          <div class="col-md-12">
				            <input type="submit" value="提交" class="btn btn-warning">
				          </div>
				        </div>
				        <div class="form-group">
				          	<div class="col-md-12">
				        		<a href="forgot-password.html" class="text-center">Cannot login?</a>
				       	 	</div>
				    	</div>
					</div>
					<div class="templatemo-other-signin col-md-6">
						<label class="margin-bottom-15">
							请按实际情况填写，所填内容将提交481进行 <a rel="nofollow" href="http://checkinlib.heroku.com/481">审核</a>你也可以点击下列按钮进行跳转。
						</label>
						<a href="https://checkinlib.heroku.com/add" class="btn btn-block btn-social btn-facebook margin-bottom-15">
						    <i class="fa fa-user"></i> CZ登记
						</a>
						<a href="https://checkinlib.heroku.com/add" class="btn btn-block btn-social btn-twitter margin-bottom-15">
						    <i class="fa fa-user"></i> 外航登记
						</a>
						<a href="https://checkinlib.heroku.com/481" class="btn btn-block btn-social btn-google-plus">
						    <i class="fa fa-user"></i> 审核
						</a>
					</div>   
				</div>				 	
		      </form>		      		      
		</div>
	</div>
</body>
</html>